<nav>
    <div class="site-title">
      <div>
        <a href="/"><h1>Random Photo Gallery</h1></a>
        <p>A website by <%= name %>.</p>
      </div>
      <ul>
        <li><a href="/">Photo Gallery</a></li>
        <li><a href="/add-image">Add Image</a></li>
      </ul>
    </div>
  </nav>